.event-list {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

@media only screen and (min-width: 768px) {
  .event-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
