.sponsor {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  float: left;
  flex-flow: column;
  justify-content: center;
  padding: 1em;

  @media (min-device-width: 960px) and (min-width: 960px) {
    padding: 2em;
  }
}

.imageContainer {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
}

.imageContainer img {
  max-width: 300px;
  width: 100%;

  @media (min-device-width: 960px) and (min-width: 960px) {
    max-width: 250px;
    padding: 0;
  }
}

.body {
  font-size: 1em;
}
