@import "../../variables.css";

.sponsorContainer {
  display: inline-block;
  padding: 3em .5em;
  width: 100%;

  @media (min-device-width: 960px) and (min-width: 960px) {
    padding: 4em 3em;
  }
}

.skyline {
  align-items: center;
  background-image: url(../../images/skylineShort.jpg);
  background-position: bottom;
  background-size: cover;
  color: white;
  display: flex;
  font-size: 1.5em;
  height: 200px;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
}

.headline {
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.75em;
  letter-spacing: .05em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.presenting {
  width: 100%;
}

.presenting p {
  @media (min-device-width: 960px) and (min-width: 960px) {
    padding: 0em 8em 5em 8em;
  }
}

.diamond {
  width: 100%;

  @media (min-device-width: 960px) and (min-width: 960px) {
    width: 50%;
  }
}

.platinum, .gold {
  width: 100%;
  font-size: .8em;

  @media (min-device-width: 960px) and (min-width: 960px) {
    width: 33%;
  }
}

.silver {
  width: 100%;

  @media (min-device-width: 640px) and (min-width: 640px) {
    width: 50%;
  }

  @media (min-device-width: 960px) and (min-width: 960px) {
    width: 25%;
  }
}

.community {
  width: 100%;

  @media (min-device-width: 640px) and (min-width: 640px) {
    width: 50%;
  }

  @media (min-device-width: 960px) and (min-width: 960px) {
    width: 20%;
  }
}
