---
import Footer from './Footer.astro'
import Header from './Header.astro'
---

<style>
  #main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #page {
    flex: 1;
  }
</style>

<div id="main">
  <Header />
  <div id="page">
    <div class="page-title">
      <h1>{Astro.props.pageTitle}</h1>
    </div>
    <div class="page-body"><slot /></div>
  </div>
  <Footer />
</div>
