<h1>Sign-up for SeattleJS emails</h1>
<p>We send ~1 email per month about upcoming events and things that may interest our community. You can unsubscribe anytime!</p>
<form method="post" action="/signup">
    <input type="hidden" name="list" value="seattlejs"/>
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="email_address" placeholder="Email Address">
    <button>Sign Up</button></div>
</form>