@import "variables.css";

html {
  box-sizing: border-box;
  background: var(--bgTeal);
}

@media (min-device-width: 800px) {
  html {
    font-size: 16px; /* default */
  }
}

@media (max-device-width: 800px) {
  html {
    font-size: 36px; /* default */
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  background: linear-gradient(
    to top,
    var(--bgTealGradientOut),
    var(--bgTeal) 20rem,
    var(--bgTeal)
  );
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

h2 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 1.2rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  font-size: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 1rem;
}

:global a.btn {
  color: white;
  font-size: 0.8rem;
  background: var(--realBtnGreen);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  text-transform: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: none;
}

:global .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  /* -webkit-font-smoothing: antialiased; */
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
