@import "styles/colors.css";
@import "styles/box-shadow.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 0;
}

.navPlaceholder {
  height: 3rem;
}

nav {
  background: var(--bgTeal);
  position: fixed;
  width: 100%;
  height: 3rem;
  box-shadow: var(--zdepth-shadow-1);
  z-index: 101;
}

nav a {
  font-size: 0.8rem;
  color: var(--realBrightGreen);
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem 3rem;
}

.navList {
  flex: 1 1 auto;
}

.navCtaButton  {
  flex: 0 0 auto;
  margin: 0.5rem 3rem;
}
.navContactUs {
  flex: 0 0 auto;
}

.hero {
  /* margin-bottom: 2rem; */
}

.hero img {
  display: block;
  width: 100%;
}

.tagline {
  background: rgb(15,13,15);
  color: white;
}

.tagline p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.cta {
  border: 1px solid var(--bgOutline);
  background: var(--bgTealLight);
  width: 960px;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta > .ctaText {
  color: var(--realBrightGreen);
  text-transform: uppercase;
  text-align: center;
}

.cta > i {
  color: var(--realBrightGreen);
  text-align: center;
}

.formidableBanner_outer {
  background: url('images/formidable-space-bg.jpg');
}

.formidableBanner {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.formidableBanner > .sponsoredBy {
  position: relative;
  bottom: 1.5rem;
  margin-right: 1rem;
}

.formidableBanner > .svgContainer {
  height: 5rem;
  flex: 1 1 auto;
}

.formidableBanner svg {
  fill: currentColor;
}

.copy {
  width: 960px;
  display: flex;
  flex-flow: row nowrap;
}

.copy > * {
  margin: 2rem 0;
}
.copy > div:not(:first-child) {
  margin-left: 2rem;
}
.copy > div:not(:last-child) {
  margin-right: 2rem;
}
.copy > .copyText {
  flex: 1 1 50%;
  border-top: 1px solid white;
}

.copy > .copyImg {
  flex: 1 1 50%;
}

.copy > .copyImg > img {
  display: block;
  width: 100%;
}

footer.container > .innerFooter {
  width: 960px;
  border-top: 1px solid white;
  padding: 2rem 0;
  display: flex;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 2rem 0;
}

.navList a:not(:first-child) {
  margin-left: 2rem;
}
.navList a:not(:last-child) {
  margin-right: 2rem;
}
footer a::before {
  content: "+";
}
