@import "variables.css";

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 0;
}

/* Desktop */
@media (min-device-width: 960px) and (min-width: 800px) {
  .container > div {
    margin: 0 2rem;
    width: 960px;
  }
}

/* Mobile */
@media (max-device-width: 960px), (min-device-width: 960px) and (max-width: 960px) {
  .container > div {
    margin: 0 2rem;
    width: 100%;
  }
}

.hero {
  display: flex;
  justify-content: center;
  background: var(--semiBlack);
}

.hero > div {
  max-width: 1800px;
}

.hero img {
  display: block;
  width: 100%;
}

.tagline {
  border-top: 2px solid var(--semiBlack);
  border-bottom: 2px solid var(--semiBlack);
  background: var(--semiBlack);
  color: white;
}

.tagline h1 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  color: rgb(185, 219, 111);
}

.cta {
  border: 1px solid var(--bgOutline);
  background: var(--bgTealLight);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Desktop styles */
@media (min-device-width: 800px) and (min-width: 800px) {
  .cta {
    flex-flow: row nowrap;
  }
}

/* Mobile styles */
@media (max-device-width: 800px), (min-device-width: 800px) and (max-width: 800px) {
  .cta {
    flex-flow: column nowrap;
  }
  .cta > i {
    display: none;
  }
}

.cta > .ctaText {
  color: var(--realBrightGreen);
  text-transform: uppercase;
  text-align: center;
}

.cta > i {
  color: var(--realBrightGreen);
  text-align: center;
}

.formidableBanner {
  color: white;
  display: flex;
}

.formidableBanner a {
  height: 5rem;
  color: white;
  transition: color 0.4s ease-out, fill 0.5s ease-out;
}

.formidableBanner a:hover {
  color: #dc7a6b;
}

.formidableBanner svg {
  fill: currentColor;
}

/* Desktop */
@media (min-device-width: 800px) and (min-width: 800px) {
  .formidableBanner {
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
  }

  .formidableBanner > .sponsoredBy {
    position: relative;
    bottom: 1.5rem;
    margin-right: 1rem;
  }
}

/* Mobile */
@media (max-device-width: 800px), (min-device-width: 800px) and (max-width: 800px) {
  .formidableBanner {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.copy {
  display: flex;
}

.copy a {
  color: var(--realBrightGreen);
  text-decoration: none;
}

.copy a:hover {
  text-decoration: underline;
}

/* Desktop */
@media (min-device-width: 800px) and (min-width: 800px) {
  .copy {
    flex-flow: row nowrap;
  }

  .copy > div:not(:first-child) {
    margin-left: 2rem;
  }
  .copy > div:not(:last-child) {
    margin-right: 2rem;
  }
}

/* Mobile */
@media (max-device-width: 800px), (min-device-width: 800px) and (max-width: 800px) {
  .copy {
    flex-flow: column nowrap;
  }

  .copy > .copyText {
    margin-top: 1rem;
  }

  .copy > .copyImg {
    order: -1;
  }
}

.copy > .copyText {
  flex: 1 1 50%;
  border-top: 1px solid white;
}

.copy > .copyImg {
  flex: 1 1 50%;
  margin: 0 auto;
}

.copy > .copyImg > img {
  display: block;
  width: 100%;
}

footer.container {
  padding-bottom: 0;
}

footer > .innerFooter {
  border-top: 1px solid white;
  display: flex;
  padding: 2rem 0;
  font-size: .8em;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footerLinkIcon {
  margin-right: 0.5rem;
}

/* Desktop */
@media (min-device-width: 800px) and (min-width: 800px) {
  footer > .innerFooter {
    flex-flow: row nowrap;
  }

  footer .navList {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
  }

  footer .navList a:not(:first-child) {
    margin-left: 2rem;
  }
  footer .navList a:not(:last-child) {
    margin-right: 2rem;
  }
}

/* Mobile */
@media (max-device-width: 800px), (min-device-width: 800px) and (max-width: 800px) {
  footer > .innerFooter {
    flex-flow: column nowrap;
  }

  footer .navList {
    display: flex;
    flex-flow: column nowrap;
  }

  footer .navList a {
    margin: 1rem 0;
  }

  footer .navContactUs {
    margin: 1rem 0;
  }
}
